body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

.top-container {
  background-color: #ECFFFF;
  padding-top: 100px;
}

.middle-container {
  margin: 100px auto 100px auto;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px  0 20px 0;
}

h1 {
  margin-top: 0;
  width: 70%;
  margin: 0 auto 0 auto;
  font-family: "Sacramento", sans-serif;
  font-size: 5.625rem;
  color: #66BFBF;
  line-height: 2;
}

.bottom-cloud {
  position: absolute;
  left: 100px;
  top: 170px;
}

.top-cloud {
  position: absolute;
  right: 100px;
  top: 70px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.skill-row{
  width: 60%;
  margin: 100px auto 200px auto;
  text-align: left;
  line-height: 1.5;
}

.chil-img{
  width: 25%;
  float: left;

  margin-right: 30px;
}

.para{
  width: 30%;
  margin: 0 auto 0 auto;
}

.comp-img{
  width: 25%;

  float: right;
  margin-left: 30px;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: gray;
  border-width: 5px;
  width: 5%;

}

.profile{
  margin: 0 auto 100px auto;
}

.skills{
  margin: 0 auto 100px auto;
}

.contact-me{
  margin: 0 auto 0 auto;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  position: relative;
  top: 30px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.copyright{
  text-align: left;
  margin: 20 auto 0 auto;
  color: #EAF6F6;
  font-size: 0.75rem;

}
